<!DOCTYPE html>
<html>
<head>
    <title>PayWave - @ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @await RenderSectionAsync("Meta", required: false)
    <link rel="stylesheet" href="~/css/rubic.css">
    <link rel="stylesheet" href="~/css/paywave.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="right-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <a class="image" href="@Url.Action("Index","Home")"><img src="~/images/cover.png" style="width:200px;" class="img-fluid" alt="PayWave" /></a>
            <div id="header" class="container">

                <!-- Logo -->
                <h1 id="logo"><a href="@Url.Action("Index","Wallet")">Wallets</a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Payment" asp-action="Index">Transfers</a>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Payment" asp-action="Index">Payments</a>
                                    <a href="@Url.Action("Send","Payment", null)">Send money</a>
                                    <a href="@Url.Action("SendPersonal","Payment", null)">Move money between accounts</a>
                                    <a href="@Url.Action("GenerateTransactionLink","Payment", null)">Create payment link</a>
                                    <a href="@Url.Action("CreateTransactionDemo","Payment", null)">Integrate payments</a>
                                </li>
                            </ul>
                        </li>
                        <li class="break"><a asp-area="" asp-controller="AddressBook" asp-action="Index">Address book</a></li>
                        <partial name="_LoginPartialApp" />
                    </ul>
                </nav>

            </div>
            @await RenderSectionAsync("HeaderSection", required: false)
        </div>
        @RenderBody()


        <!-- Footer -->
        <div id="footer-wrapper">
            <div id="footer" class="container">
                <header class="major">
                    <a class="image" href="@Url.Action("Index","Home")"><img src="~/images/cover.png" style="width:200px;" class="img-fluid" alt="PayWave" /></a>
                </header>
                <div class="row">
                    <section class="col-6 col-12-narrower">
                        <div class="row">
                            <div class="col-12">
                                @*<a class="loadingButton" asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Contacto"]</a> <br />
                                <a class="loadingButton" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacidad"]</a>*@
                            </div>

                        </div>
                    </section>
                    <section class="col-6 col-12-narrower">
                        <div class="row">
                            <div class="col-12">@*
                                @Localizer["PeerPay es un producto de"] <a href="https://techgethr.com" target="_blank">PayWave</a>. <br />
                                <a href="https://techgethr.com" target="_blank"><img src="~/images/techgethr.png" class="img-fluid" alt="Techgethr" /></a>*@
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="copyright" class="container">
                <ul class="menu">
                    <li>&copy; PayWave.</li>
                </ul>
            </div>
        </div>

    </div>
    <div id="loadingoverlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.bundle.js"></script>

    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pageguide/pageguide.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>