@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
    ViewData["Title"] = "Send money";
}


@section HeaderSection
{
    <section id="hero" class="container">
        <header>
            <h2>
                @ViewData["Title"]
            </h2>
        </header>
        <p>
            Select how you want to send money
        </p>
    </section>
}

<div class="wrapper">
    <div class="container" id="main">
        <div class="row center-text">
            
                <div class="col-md-6">
                    <a href="@Url.ActionLink("Send", "Payment")">
                        <img src="~/images/cover.png" alt="PayWave" class="img-fluid" style="width:120px;" />
                    </a>
                    <br /><br />
                    @Html.ActionLink("Send same currency", "Send", "Payment", new { }, new { @class = "btn btn-info loadingButton" })
                    <br /><br />
                    <div class="alert alert-success" role="alert">
                        <b>Send one type of money (USDC, EURC, BTC, or ETH) and the recipient will receive the same type of asset. If you send USDC, the recipient will receive USDC.</b>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="@Url.ActionLink("SendCross", "Payment")">
                        <img src="~/images/cover.png" alt="PayWave" class="img-fluid" style="width:120px;" />
                    </a>
                    <br /><br />
                    @Html.ActionLink("Send cross-currency (only blockchain recipients)", "SendCross", "Payment", new { }, new { @class = "btn btn-info loadingButton" })
                    <br /><br />
                    <div class="alert alert-success" role="alert">
                        <b>Send a type of money (USDC, EURC, BTC, or ETH) and the recipient can receive it in another asset. If you send BTC, the recipient could USDC. It only works with receivers that you have added of the "blockchain" type.</b><br />
                        <b>It works just with Blockchain recipients.</b>
                    </div>
                </div>

        </div>


    </div>
</div>
